body * {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: flex;
  padding: 1em;
  margin: 1em;
}

.button {
  display: flex;
  padding: 1em;
  margin: 1em;
}

.customers-list {
  display: flex;
  flex-direction: column;
}

.customer {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
}
